@import "../Utilities//Utilities.scss";
@import "../HomePage/HomePage.scss";

.background-addService {
    @extend .main-homepage;
    font-family: $web-font;
    background: url("https://images.unsplash.com/photo-1496902526517-c0f2cb8fdb6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    background-size: 100% 100%;
    background-position: initial;
    background-repeat: no-repeat;
};

.addService-title {
    height: 10vh;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: $title-size;
    color: $whitesmoke;
};

// #progress {

// }

.category {
    width: 20vw;
    height: 20vh;
    color: $whitesmoke;
    text-align: center;
    font-weight: bolder;
    @include column-box;
    @include box-background;
    justify-content: space-evenly;
        label {
            font-size: $label-size;
        };
        .dropDown {
            outline: none;
            cursor: pointer;
            background: $ebony;
            color: $whitesmoke;
            font-family: $web-font;
        };
};

.service-description {
    width: 20vw;
    height: 20vh;
    color: $ebony;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 120px;
    @include column-box;
    @include box-background;
        label {
            font-size: $label-size;
        };
            form > textarea::placeholder {
                color: $ebony;
                font-family: $web-font;
            };
                button {
                    @include login-buttons;
                    cursor: pointer;
                };
};


@media screen and (max-width: 800px) {
    .service-description textarea {
        resize: horizontal; max-width: 215px;
    };
};

@media screen and (max-width: 600px) {
    .category, .category-title {
        width: 40vw;
        height: 15vh;
        font-size: 30px;
    };
    .service-description, .service-description-title {
        width: 40vw;
        height: 15vh;
        font-size: 30px;
    };
    .service-description textarea {
        resize: horizontal; max-width: 200px;
    };
};

@media screen and (max-width: 495px) {
    label.category-title, label.service-description-title {
        font-size: 18px;
    };
};

@media screen and (max-width: 420px) {
    .background-addService h1 {
        font-size: 30px;
    };
    label.category-title, label.service-description-title {
        font-size: 17px;
    };
};