.main-guestLanding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100vw;
  height: 90vh;
  font-family: "Exo", sans-serif;
  background: url("https://images.unsplash.com/photo-1562237553-36ad661d6f2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: 100% 100%;
  background-position: initial;
  background-repeat: no-repeat;
}

.main-guestLanding .form-box {
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.main-guestLanding form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid transparent;
  width: 20vw;
  height: 40vh;
  padding: 50px;
  opacity: 0.95;
  text-align: center;
  font-weight: bolder;
  font-size: 22px;
  background: whitesmoke;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.main-guestLanding form input::-webkit-input-placeholder {
  color: #0A0708;
  font-family: "Exo", sans-serif;
}

.main-guestLanding form input:-ms-input-placeholder {
  color: #0A0708;
  font-family: "Exo", sans-serif;
}

.main-guestLanding form input::-ms-input-placeholder {
  color: #0A0708;
  font-family: "Exo", sans-serif;
}

.main-guestLanding form input::placeholder {
  color: #0A0708;
  font-family: "Exo", sans-serif;
}

.main-guestLanding #existing-user-p, .main-guestLanding #new-user-p, .main-guestLanding #number-format {
  font-size: 15px;
  text-decoration: underline;
}

.main-guestLanding button {
  width: 100px;
  height: 20px;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: "Exo", sans-serif;
  background: #0A0708;
  outline: none;
}

.main-guestLanding button:hover {
  color: #0A0708;
  font-weight: bold;
  background: #8C8C8C;
  text-shadow: 0px 0px 10px white;
  cursor: pointer;
}

.existing-user, .new-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1080px) {
  .main-guestLanding, h4, p, label {
    font-size: 15px;
  }
  #existing-user-p, .main-guestLanding #new-user-p, .main-guestLanding #number-format {
    font-size: 13px;
  }
}

@media screen and (max-width: 780px) {
  .main-guestLanding, h4, p, label {
    font-size: 12px;
  }
  .main-guestLanding form button, h4 form button, p form button, label form button {
    width: 85px;
    height: 18px;
    font-size: 13px;
  }
  .main-guestLanding #existing-user-p, .main-guestLanding #new-user-p, .main-guestLanding #number-format, h4 #existing-user-p, h4 .main-guestLanding #new-user-p, .main-guestLanding h4 #new-user-p, h4 .main-guestLanding #number-format, .main-guestLanding h4 #number-format, p #existing-user-p, p .main-guestLanding #new-user-p, .main-guestLanding p #new-user-p, p .main-guestLanding #number-format, .main-guestLanding p #number-format, label #existing-user-p, label .main-guestLanding #new-user-p, .main-guestLanding label #new-user-p, label .main-guestLanding #number-format, .main-guestLanding label #number-format {
    font-size: 10px;
  }
}

@media screen and (max-width: 420px) {
  .main-guestLanding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-guestLanding form, .main-guestLanding .existing-user, .main-guestLanding .new-user, .main-guestLanding .new-user {
    width: 40vw;
    height: 28vh;
  }
  .main-guestLanding form #existing-user-p, .main-guestLanding form #new-user-p, .main-guestLanding form #number-format, .main-guestLanding .existing-user #existing-user-p, .main-guestLanding .new-user #existing-user-p, .main-guestLanding .existing-user #new-user-p, .main-guestLanding .new-user #new-user-p, .main-guestLanding .existing-user #number-format, .main-guestLanding .new-user #number-format, .main-guestLanding .new-user #existing-user-p, .main-guestLanding .new-user #new-user-p, .main-guestLanding .new-user #number-format {
    font-size: 10px;
  }
  .main-guestLanding form button, .main-guestLanding .existing-user button, .main-guestLanding .new-user button, .main-guestLanding .new-user button {
    width: 60px;
    height: 15px;
    font-size: 10px;
  }
}
/*# sourceMappingURL=GuestLanding.css.map */