@import "../Utilities/Utilities.scss";

.main-guestLanding {
    @include login-section;
    justify-content: space-around;
    width: 100vw;
    height: 90vh;
    font-family: $web-font;
    background: url("https://images.unsplash.com/photo-1562237553-36ad661d6f2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    background-size: 100% 100%;
    background-position: initial;
    background-repeat: no-repeat;
    .form-box {
        width: 40vw;
        @include login-section;
        align-items: center;
    };
    form {
        flex-direction: column;
        border: 1px solid transparent;
        width: 20vw;
        height: 40vh;
        padding: 50px;
        background: $whitesmoke;
        opacity: 0.95;
        font-weight: bolder;
        font-size: $label-size;
        box-shadow: 0 0 10px rgba(0,0,0,0.8);
            input::placeholder {
                color: $ebony;
                font-family: $web-font;
            };
    };
        p {
            font-size: $nav-size;
            text-align: center;
        };
        button {
            @include login-buttons;
        };
        button:hover {
            @include button-hover;
        };
};

.existing-user {
    @include column-box;
    justify-content: center;
};

.new-user {
    @extend .existing-user;
};


@media screen and (max-width: 1080px) {
    .main-guestLanding, h4, p, label {
        font-size: 15px;
    };
};

@media screen and (max-width: 780px) {
    .main-guestLanding, h4, p, label {
        font-size: 12px;
        form button {
            width: 85px;
            height: 18px;
            font-size: 13px;
        };
    };
};

@media screen and (max-width: 420px) {
    .main-guestLanding {
        flex-direction: column;
        justify-content: center;
        form, .existing-user, .new-user {
            width: 40vw;
            height: 28vh;
            p {
                font-size: 10px;
            };
            button {
                width: 60px;
                height: 15px;
                font-size: 10px;
            };
        };
    };
};