@import "../Utilities/Utilities.scss";

.nav-container {
    width: 100vw;
    height: 10vh;
    @include box-center;
    justify-content: space-around;
    background: $header-gray;
    font-family: $web-font;
    font-size: $title-size;
    button {
        @include login-buttons;
        
        &:hover {
            @include button-hover;
        };
    };
    .welcome-box {
        width: 40vw;
        @include box-center;
        justify-content: space-between;
        font-size: $nav-size;
    };
    ul {
        width: 15vw;
        @include box-center;
        justify-content: space-between;
        text-decoration: none;
            li {
                color: $black;
            }
    }
};

// #links {
//     width: 10vw;
//     @include box-center;
//     justify-content: space-between;
//     // text-decoration: none;
//     li {
//         color: $black;
//         // list-style-type: none;
//         text-decoration: none;
//     }
// }