@mixin box-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
$nav-font: 'Exo', sans-serif;
$font-size: 40px;

.nav-container {
    width: 100vw;
    height: 10vh;
    @include box-center;
    background: #C8C8C8;
    font-family: $nav-font;
    font-size: $font-size;
}

.logo {
    width: 8vw;
    height: 10vh;
}